<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Profile</title>
  </head>

  <body>
    <h1>Employee Profile</h1>

    <ul>
      Name: <%= user.username %>
      <br />
      ID: <%= user.id %>
      <br />
      Phone: <%= user.phone %>
      <br />
      Email: <%= user.email %>
      <br />
      Designation: <%= user.designation %>
    </ul>
  </body>
</html>